* {
    overflow-x: hidden;
}
/* body {
    overflow-x: hidden;
} */
.App {
    text-align: center;
    /* background-color: #212121; */
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}
h1 {
    font-family: "Inter", sans-serif;
    color: #111827;
    /* color: white; */
    font-size: 80px;
    font-weight: 800;
    margin-top: 0;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
