h2,
h1 {
    font-family: "Inter", sans-serif;
    text-align: left;
}
.gradient-text span {
    background: -webkit-linear-gradient(#12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
