
.icons {
  margin: 0 8px;
  cursor: pointer;
}
.footer-div {
  background-color: #D7DDF0;
  padding: 45px 45px;
  /* background-image: linear-gradient(to right, #4f79ff, #3dabfa); */
  position: relative;
  overflow: hidden;
}
.footer__container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.footerContainer__left {
  flex: 0.4;
  min-width: 380px;
}
.footer__logo {
  width: 145px;
}
.footerContainer__right {
  flex: 0.6;
  display: flex;
  justify-content: space-evenly;
}
.footerContainer__right1 {
  text-align: left;
}
.footerContainer__right1 h5 {
  color: rgb(0, 0, 0);
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.footerContainer__right1 p {
  color: rgb(22, 22, 22) !important;
  font-family: none;
  margin-bottom: 0;
  margin-top: 0;
}
.footerContainer__right1 span {
  color: rgba(34, 33, 33, 0.733);
  font-weight: 700;
}
.footerContainer__right2 {
  text-align: left;
}
.footerContainer__right2 h5 {
  color: #000;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 14px;
}
.footer__links a {
  color: rgb(22, 22, 22) !important;
}
.footer__register a {
  color: #e42e80 !important;
}
hr {
  width: 85%;
  height: 1px;
  background-color: rgba(27, 26, 26, 0.418);
  margin: auto;
}
.footer__bottom {
  padding: 0.6rem 6rem;
  display: flex;
  justify-content: space-between;
}
.footer__bottom h5 {
  color: rgb(22, 22, 22) !important;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.footerBottom__icons span {
  padding: 0 5px;
}
.footer__icon {
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}
.footer__icon:hover {
  transform: scale(1.2);
}
@media (max-width: 800px) {
  .footer-div {
    padding: 45px 5px;
  }
  .footerContainer__right {
    flex: 0.5;
  }
  .footer__bottom {
    padding: 0.6rem 3.2rem;
  }
}
@media (max-width: 450px) {
  .footer__logo {
    margin-right: 20px;
}
  .footerContainer__right {
    flex: 0.5;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 1rem;
  }
  .footerContainer__right1 {
    text-align: center;
  }
  .footerContainer__right2 {
    text-align: center;
    margin-top: 1rem;
  }
  .footer__bottom {
    flex-wrap: wrap-reverse;
    margin-left: 20px;
    padding: 0.6rem 0rem;
  }
  .footerBottom__icons {
    margin: auto;
  }
}
