.gradient-footer {
    background: -webkit-linear-gradient(#3494e6, #ec6ead);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradient-footer span {
    background: -webkit-linear-gradient(#eb3349, #f45c43) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
.footer-div .col-sm-1 img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.footer-div .col-sm-1 img:hover {
    /* transform: rotate(30) !important; */
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.footer-div a {
    color: white !important;
    text-decoration: none;
}
