.dark-wave {
    background-color: rgb(238, 238, 238, 0.8);
}
h4,
p {
    font-family: "Inter", sans-serif;
}
p {
    color: rgb(102, 102, 102);
}
.features-div span {
    background: -webkit-linear-gradient(#12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.features-div h1 {
    font-size: 3em;
}
