.impact-main {
    position: relative;
    padding: 3em 0em;
    background-color: #E0E1E4;
    color: white;
    overflow: hidden;
    z-index: 999;
}
.impact-main .col-md-4 {
    border-left: 3px solid tomato;
    margin-top: 10%;
    margin-left: 13%;
}
.impact_body{
    margin-left: 4rem;
}
.impact-main h1 {
    z-index: 999;
    background: linear-gradient(to right, #fc466b, #3f5efb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3em;
}
.impact-main h6 {
    overflow: hidden;
}
.impact-main h5 {
    overflow: hidden;
}
.stats h1 {
    text-align: left;
}

@media(max-width:1200px){
    .impact_body{
        margin-left: 0rem;
    }
}