.contact-us-div input {
    outline: 0;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 3% 5%;
    display: block;
    margin-top: 5%;
    background-color: #dadeeb;
    width: 100%;
}
.contact-us-div textarea {
    outline: 0;
    border: 1px solid blue;
    border-radius: 8px;
    padding: 3% 5%;
    display: block;
    margin-top: 5%;
    background-color: #dadeeb;
    width: 100%;
}
