.course-main-div .MuiList-padding {
    background-color: #424242 !important;
    color: white !important;
}
.course-main-div .MuiAccordion-rounded {
    background-color: #424242 !important;
}

.course-main-div .MuiTypography-body1 {
    color: tomato;
}
.course-main-div .MuiTypography-body2 {
    color: white !important;
}
.course-head h1 {
    background: -webkit-linear-gradient(#34e89e, #0f3443) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
ul {
    text-align: left;
}
.course-head .row {
    display: flex !important;
    flex-direction: row !important;
    -ms-flex-wrap: wrap !important;
}
.course-head {
    height: 50em;
}
.MuiButton-outlinedSecondary {
    color: #f50057 !important;
    border: 1px solid rgba(245, 0, 87, 0.5) !important;
}
