.course-main-div .MuiList-padding {
    background-color: #424242 !important;
    color: white !important;
}
.course-main-div .MuiAccordion-rounded {
    background-color: #424242 !important;
}

.course-main-div .MuiTypography-body1 {
    color: tomato;
}
.course-main-div .MuiTypography-body2 {
    color: white !important;
}
.course-head h1 {
    background: -webkit-linear-gradient(#34e89e, #0f3443) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}
ul {
    text-align: left;
}
